# Preset the values in this file if you don't want to enter the
# values everytime you run `terraform apply`.

key_name = "<Enter AWS EC2 SSH key pair>"
instance_type = "<Enter AWS EC2 instance type>"
region_name = "<Enter the region>"
root_device_type = "<The root AMI device type ie. ebs or instance-store>"